@keyframes appearFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-appear {
  animation: appearFromLeft 1.5s ease-out infinite;
}

.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}